<div class="card shadow border-0 mt-4">
	<div class="card-header bg-dark bg-gradient bg-opacity-60 text-white ml-0 py-3 d-flex justify-content-between">
		<div class="row">
			<h1 class="text-white">Orders List</h1>
		</div>
	</div>
	<div class="card-body p-4 bg-dark text-white bg-gradient">
		<table id="tblData" class="table table-bordered table-striped table-dark pt-3" style="width:100%">
			<thead>
				<tr>
					<th>ID</th>
					<th>Email</th>
					<th>Name</th>
					<th>Phone</th>
					<th>Status</th>
					<th>Total in INR</th>
					<th></th>
				</tr>
			</thead>
		</table>
	</div>
</div>
@section Scripts{
	<script src="~/js/order.js"></script>
}